<%
let isActive = (target) => {
    return (url === target || (url.includes('post') && target === '/discussion')) ? 'active' : '';
};
%>
<div class="sidebar">

        <span class="title"><img src="/images/logo.png"><a href="/" class="text-white">Life<b>Board</b></a></span>

    <a href="/" class="active">Dashboard</a>
    <a href="#">Projects</a>
    <a href="#">Account</a>
    <a href="#">Logout</a>
</div>