<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<div class="container d-flex">
    <div class="col"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-title">New Contribution</div>
            <form action="/contribute" method="post">
                <div class="row">
                    <div class="col-9 pr-1">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-3 pl-0">
                        <div class="form-group">
                            <label>Section</label>
                            <select class="form-control" name="type" id="inputGroupSelect01">
                                <option value="opinion">Opinion</option>
                                <option value="discussion">Discussion</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" name="body" rows="5"></textarea>
                </div>
                <div class="form-group float-right">
                    <input type="submit" class="btn btn-primary" value="Post"/>
                </div>

            </form>
        </div>
    </div>
    <div class="col"></div>
</div>

<%- include('partials/footer.ejs') %>
