<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="content">
    <div class="title">
        Dashboard
    </div>
    <div class="agenda">

    </div>
</div>
<%- include('partials/footer.ejs') %>
