<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<div class="content">
    <div class="title">
        Dashboard
    </div>
    <div class="agenda">
        <div class="day">
            Monday
        </div>
        <div class="day">
            Tuesday
        </div>
        <div class="day">
            Wednesday
        </div>
        <div class="day active">
            Thursday
        </div>
        <div class="day">
            Friday
        </div>
        <div class="day">
            Saturday
        </div>
        <div class="day">Sunday
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-title list">
            Todo List
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
<%- include('partials/footer.ejs') %>
